<%= form_for(@countdown, :html => { :role => 'form', :class => 'form' }) do |f| %>
  <% if @countdown.errors.any? %>
    <div class="alert alert-danger">
      <p><%= pluralize(@countdown.errors.count, "error") %> prohibited this countdown from being saved:</p>

      <ul>
      <% @countdown.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :time %><br>
    <%= f.datetime_select :time, order: [:day, :month, :year], :minute_step => 5, :class => 'dropdown-menu' %>
  </div>
  <div class="form-group">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>
  <div class="form-group">
    <%= f.label :link %><br>
    <%= f.text_field :link, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Start counting', :class => 'btn btn-success btn-lg' %>
  </div>
<% end %>
